{%- macro showwhitespace(s) %}{{ s|replace('\n', '↵') }}{% endmacro -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ catcher_json_file }} catcherdiff report</title>
        <style type="text/css">
         .container {
             max-width: 70rem;
             margin: 0 auto 3em auto;
         }

         table {
             width: 100%
             table-layout: fixed;
         }
         th, td {
             text-align: left;
         }
         th {
             padding: 0.5em;
         }
         td {
             padding: 0 0.5em 0 0.5em;
             vertical-align: text-top;
         }
         tr {
             outline: thin solid;
         }
         .value-col {
             width: 42.5%;
         }
         .change-col {
             width: 5%;
         }
         .nick-col {
             width: 10%;
         }

         .has-vocab:before {
             content: "🕮 "
         }
         .value {
             background-color: aliceblue;
             font-family: monospace;
             white-space: pre-wrap;
         }
         .filename {
             font-family: monospace;
         }

         .equal-values {
         }
         .equal-blanks {
         }
         .overwrite-blank-with-value {
             background-color: lime;
         }
         .overwrite-value-with-value {
             background-color: orange;
         }
         .overwrite-value-with-blank {
             background-color: red;
         }
        </style>
    </head>

    <body>
        <div class="container">
            <h1><span class="filename">{{ catcher_json_file }}</span> catcherdiff report</h1>

            <p>
                Report datetime: {{ report_datetime }}<br/>
                CONTENTdm repository: {{ cdm_repo_url }}<br/>
                Collection alias: {{ cdm_collection_alias }}<br/>
                cdm-catcher file name: <span class="filename">{{ catcher_json_file }}</span><br/>
            </p>

            <p>catcherdiff found {{ edits_with_changes_count }} out of {{ deltas|length }} total edit actions would be effective.</p>

            <h2>Field info</h2>

            <table>
                <thead>
                    <tr>
                        {%- for key in cdm_fields_info[0].keys() %}
                            <th>{{ key }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_fields_info if field_info['admin'] == 0 %}
                        <tr>
                            {%- for value in field_info.values() %}
                                <td>{{ value }}</td>
                            {%- endfor %}
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Edit actions</h2>

            {% for edit, cdm_info in deltas %}
                <h3>dmrecord {{ edit['dmrecord'] }}</h3>
                <p><a href="{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}">{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}</a></p>
                <table>
                    <thead>
                        <tr>
                            <th class="nick-col">Field nick</th>
                            <th class="value-col">Current value</th>
                            <th class="change-col">Change</th>
                            <th class="value-col">Edit value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nick, value in edit.items() if nick != 'dmrecord' %}
                            <tr>
                                <td class="nick-col">
                                    {%- if has_vocab[nick] %}
                                        <pre class="has-vocab">{{ nick }}</pre>
                                    {%- else %}
                                        <pre>{{ nick }}</pre>
                                    {%- endif %}
                                </td>
                                <td class="value-col"><p><span class="value">{{ showwhitespace(cdm_info[nick]) }}</span></p></td>
                                <td class="change-col">
                                    {%- if not cdm_info[nick] and not value %}
                                        <span class="equal-blanks">none</span>
                                    {%- elif cdm_info[nick] and not value %}
                                        <span class="overwrite-value-with-blank">delete</span>
                                    {%- elif not cdm_info[nick] and value %}
                                        <span class="overwrite-blank-with-value">new</span>
                                    {%- elif cdm_info[nick] == value %}
                                        <span class="equal-values">none</span>
                                    {%- else %}
                                        <span class="overwrite-value-with-value">replace</span>
                                    {%- endif %}
                                </td>
                                <td class="value-col"><p><span class="value">{{ showwhitespace(value) }}</span></p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </body>
</html>
