<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ catcher_json_file }} catcherdiff report</title>
        <style type="text/css">
         .container {
             max-width: 1170px;
             margin-right: auto;
             margin-left: auto;
             margin-bottom: 3em;
         }
         .value {
             font-family: monospace;
         }
         th {
             padding: 0.1em 1em 0.1em 1em;
             text-align: left;
         }
         td {
             padding: 0.1em 1em 0.1em 1em;
             text-align: left;
             vertical-align: text-top;
         }
         tr {
             outline: thin solid;
         }
         .equal-values {
             background-color: #Dcdcdc;
         }
         .equal-blanks {
         }
         .overwrite-blank-with-value {
             background-color: #00ee00;
         }
         .overwrite-value-with-value {
             background-color: #Ee9a00;
         }
         .overwrite-value-with-blank {
             background-color: #Ff0000;
         }
         .filename {
             font-family: monospace;
         }
        </style>
    </head>

    <body>
        <div class="container">
            <h1><span class="filename">{{ catcher_json_file }}</span> catcherdiff report</h1>

            <p>
                Report datetime: {{ report_datetime }}<br/>
                CONTENTdm repository: {{ cdm_repo_url }}<br/>
                Collection alias: {{ cdm_collection_alias }}<br/>
                cdm-catcher file name: <span class="filename">{{ catcher_json_file }}</span><br/>
            </p>

            <h2>Edit actions</h2>

            {% for edit, cdm_info in deltas %}
                <h3>dmrecord {{ edit['dmrecord'] }}</h3>
                <p><a href="{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}">{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>CONTENTdm field nick</th>
                            <th>Current value</th>
                            <th>Action</th>
                            <th>Edit value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nick, value in edit.items() if nick != 'dmrecord' %}
                            <tr>
                                <td><pre>{{ nick }}</pre></td>
                                <td><p class="value">{{ cdm_info[nick]|replace('\n', '¶') }}</p></td>
                                <td>
                                    {%- if not cdm_info[nick] and not value %}
                                        <span class="equal-blanks">∅</span>
                                    {%- elif cdm_info[nick] and not value %}
                                        <span class="overwrite-value-with-blank">−−</span>
                                    {%- elif not cdm_info[nick] and value %}
                                        <span class="overwrite-blank-with-value">++</span>
                                    {%- elif cdm_info[nick] == value %}
                                        <span class="equal-values">==</span>
                                    {%- else %}
                                        <span class="overwrite-value-with-value">&lt;&lt;</span>
                                    {%- endif %}
                                </td>
                                <td><p class="value">{{ value|replace('\n', '¶') }}</p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </body>
</html>
