interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collections/ohiouniversitylibraries
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collections/ohiouniversitylibraries\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"IIIF resources avaliable on
        the FromThePage installation at fromthepage.com for Ohio University Libraries.\",\n
        \ \"collections\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/ohio-university-board-of-trustees-minutes\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Board of Trustees
        minutes, Ohio University\"\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/cornelius-ryan-collection-of-world-war-ii-papers\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Cornelius Ryan Collection
        of World War II Papers\"\n    },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collection/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collection/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"Farfel Leaves Metadata\",\n
        \ \"manifests\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/32024760/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Farfel leaf 027: Vocabularius
        praedicantium, France, 1486\",\n      \"metadata\": [\n        {\n          \"label\":
        \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll19/3001/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://www.fromthepage.org/jsonld/1/context.json\",\n
        \       \"@id\": \"https://fromthepage.com/iiif/32024760/status\",\n        \"label\":
        \"Work Status\",\n        \"profile\": \"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service\",\n
        \       \"pctComplete\": 0,\n        \"pctTranscribed\": 0,\n        \"pctOcrCorrected\":
        0.0,\n        \"pctIndexed\": 0,\n        \"pctMarkedBlank\": 0,\n        \"pctNeedsReview\":
        0,\n        \"pctTranslationComplete\": 0,\n        \"pctTranslated\": 0,\n
        \       \"pctTranslationNeedsReview\": 0,\n        \"pctTranslationIndexed\":
        0,\n        \"pctTranslationMarkedBlank\": 0,\n        \"metadataStatus\":
        \"described\"\n      }\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/32024761/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Farfel leaf 031: Comodiae,
        France, 1493\",\n      \"metadata\": [\n        {\n          \"label\": \"dc:source\",\n
        \         \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll19/3012/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://ww[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/32024760/manifest
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/32024760/manifest\",\n  \"@type\":
        \"sc:Manifest\",\n  \"label\": \"Farfel leaf 027: Vocabularius praedicantium,
        France, 1486\",\n  \"metadata\": [\n    {\n      \"label\": \"dc:source\",\n
        \     \"value\"[...]
[...]
