<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ collection_number }} scanftpfields report</title>
    </head>
    <style type="text/css">
     body {
         margin-bottom: 3em;
     }

     .container {
         max-width: 1170px;
         margin-right: auto;
         margin-left: auto;
     }

     tr {
         outline: thin solid;
     }

     .field-label {
         font-family: monospace;
     }

     .field-set {
         margin-left: 1em;
         padding-left: 1em;
         border-left: thin solid;
     }

     .undercount {
         background-color: #ffe7bc;
     }
    </style>

    <body>
        <div class="container">
            <h1>FromThePage field scan report for collection {{ collection_label }}</h1>
            <p>
                Report date: {{ report_date }}<br/>
                Collection number: {{ collection_number }}<br/>
                Collection manifest: <a href="{{ collection_manifest }}">{{ collection_manifest }}</a><br/>
                Export used: &quot;{{ export_label_used }}&quot;<br/>
            </p>

            <h2>Field label frequencies</h2>
            <p>
                Works: {{ works_count }}<br/>
                Filled pages: {{ filled_pages_count }}<br/>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Frequency</th>
                        <th>Field label</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label, count in field_label_frequencies.items() %}
                        <tr>
                            <td>
                                {%- if count < filled_pages_count|int -%}
                                    <span class="undercount">{{ count }}</span>
                                {%- else -%}
                                    <span>{{ count }}</span>
                                {%- endif -%}
                            </td>
                            <td><span class="field-label">{{ label }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Field sets</h2>
            <p>There are {{ field_sets|length }} field sets used in this collection.</p>
            {% for field_set in field_sets %}
                <h3>{{ field_set['works']|length }} works</h3>
                <div class="field-set">
                    <h4>Field set</h4>
                    <ul>
                        {% for field in field_set['field_set'] %}
                            {% if field_label_frequencies[field] < filled_pages_count|int %}
                                <li><span class="field-label undercount">{{ field }}</span></li>
                            {% else %}
                                <li><span class="field-label">{{ field }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <h4>Works using this set</h4>
                    <ul>
                        {% for work_data in field_set['works'] %}
                            <li><a href="{{ work_data['ftp_work_url'] }}">{{ work_data['ftp_work_label'] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
