interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/dance-posters-metadata/structured/config/work
  response:
    body:
      string: '{"@id":"https://fromthepage.com/iiif/1073/structured/config/work","label":"Metadata
        field configuration for Dance Posters Metadata","config":[],"profile":"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-configuration-response"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a40333e0eada718d5125e1bc183101a2"
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.7.3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/dance-posters-metadata/structured/config/page
  response:
    body:
      string: "{\"@id\":\"https://fromthepage.com/iiif/1073/structured/config/page\",\"label\":\"Transcription
        field configuration for Dance Posters Metadata\",\"config\":[{\"label\":\"Title\",\"input_type\":\"textarea\",\"position\":1,\"line\":1,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2593\"},{\"label\":\"Title
        format: (name of performance if known or name of hosting organization) poster,
        (venue or location (city, state or country)), (name of dance company only
        if name of perf. or hosting org. is not known) poster, (performance date range),
        (year)\",\"input_type\":\"description\",\"position\":2,\"line\":1,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2594\"},{\"label\":\"Creator
        (artist)\",\"input_type\":\"select\",\"position\":3,\"line\":2,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2595\",\"options\":[\"\",\"Achepohl,
        Keith\",\"Benoit\",\"Brooks, Bob\",\"Constant, George\",\"Delorme, Chr.\",\"Francis,
        Jon\",\"Graphisme Helianthe Paris\",\"Helianthe\",\"l'atelier d'impression\",\"Lacoutte,
        Jean Louis\",\"Lieberman\",\"Lieberman, Jerry\",\"Louis, Murray\",\"M+B Schell\",\"Margotton,
        Alain\",\"Milano, Donati\",\"Nikolais, Alwin\",\"Pointeau\",\"Thomas, Dick\",\"Warner-Lasser
        Associates\"]},{\"label\":\"Creator (artist) if other\",\"input_type\":\"text\",\[...]
