interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collections/ohiouniversitylibraries
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collections/ohiouniversitylibraries\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"IIIF resources avaliable on
        the FromThePage installation at fromthepage.com for Ohio University Libraries.\",\n
        \ \"collections\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/ohio-university-board-of-trustees-minutes\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Board of Trustees
        minutes, Ohio University\"\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/cornelius-ryan-collection-of-world-war-ii-papers\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Cornelius Ryan Collection
        of World War II Papers\"\n    },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collection/dance-posters-metadata
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collection/dance-posters-metadata\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"Dance Posters Metadata\",\n
        \ \"manifests\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/56198/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"\\\"Nothing else like
        it in the world\\\" Nikolais Dance Theatre poster\",\n      \"metadata\":
        [\n        {\n          \"label\": \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll16/237/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://www.fromthepage.org/jsonld/1/context.json\",\n
        \       \"@id\": \"https://fromthepage.com/iiif/56198/status\",\n        \"label\":
        \"Work Status\",\n        \"profile\": \"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service\",\n
        \       \"pctComplete\": 100.0,\n        \"pctTranscribed\": 100.0,\n        \"pctOcrCorrected\":
        0.0,\n        \"pctIndexed\": 0,\n        \"pctMarkedBlank\": 0,\n        \"pctNeedsReview\":
        0,\n        \"pctTranslationComplete\": 0,\n        \"pctTranslated\": 0,\n
        \       \"pctTranslationNeedsReview\": 0,\n        \"pctTranslationIndexed\":
        0,\n        \"pctTranslationMarkedBlank\": 0,\n        \"metadataStatus\":
        \"undescribed\"\n      }\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/56195/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Brooklyn Academy of
        Music, Murray Louis and Alwin Nikolais Dance\",\n      \"metadata\": [\n        {\n
        \         \"label\": \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll16/236/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/56198/manifest
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/56198/manifest\",\n  \"@type\":
        \"sc:Manifest\",\n  \"label\": \"\\\"Nothing else like it in the world\\\"
        Nikolais Dance Theatre poster\",\n  \"metadata\": [\n    {\n      \"label\":
        \"dc:source\",\n      \"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/56198/export/html
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+VbWVfjSLJ+718h9OCRDmnZpnaB4FZT9K2aKQoGqOru8fhwZCltZyNL7lTa4DH+
        7/eLTG0G19LbvFxOHZByiYyMjPhiSZVlHRzdTRNrwWUusjSwe17XtngaZbFIx4H98eqH9kv76PA7
        yzrYeXN2fPXz+Yk1UZhx/vH79++OLbvd6fz45LjTeXP1xvrp7dXpewskrCsZprlQIBkmnc7JB9uy
        J0rN/E7n9vbWu33iZXLcubro3BGtHk0uHtuqMdOLVWzrtfWSYDTNgy2Eeq9evTLz9Wgaz8P48LuD
  [...]
[...]
