{%- macro cdmnickandname(nick) %}<span class="cdm-label">{{ cdm_nick_to_name[nick] }}</span> &lt;<span class="cdm-nick">{{ nick }}</span>&gt;{% endmacro -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ collection_label }} scanftpvocabs report</title>
        <style type="text/css">
         .container {
             max-width: 70rem;
             margin: 0 auto 3em auto;
         }
         th, td {
             text-align: left;
         }
         th {
             padding: 0.5em;
         }
         td {
             padding: 0 0.5em 0 0.5em;
             vertical-align: text-top;
         }
         label {
             display: block;
         }
         .field-table tr {
             outline: thin solid;
         }
         .uncontrolled-term {
             background-color: aliceblue;
             font-family: monospace;
         }
         .ftp-label {
             background-color: #EDB;
         }
         .cdm-label {
             font-weight: normal;
             background-color: #ffc9ff;
         }
         .cdm-nick {
             font-family: monospace;
         }
         .controlled:before {
             content: "🔒 ";
         }
         .use-list {
             list-style-type: none;
         }
         .sticky-title {
             background-color: white;
             padding: 1em 0 0.5em 0;
             margin: 0.5em 0 0 0;
             position: sticky;
             top: 0;
             left: 0;
         }
         .terms-as-text {
             margin: 1em 0;
         }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>FromThePage vocab scan report for project {{ ftp_project_name }}</h1>

            <table>
                <tbody>
                    <tr><td>Report date</td><td>{{ report_date }}</td></tr>
                    <tr><td>FromThePage user slug</td><td>{{ ftp_slug }}</td></tr>
                    <tr><td>FromThePage project name</td><td>{{ ftp_project_name }}</td></tr>
                    <tr><td>Export used</td><td>{{ label }}</td></tr>
                    <tr><td>CONTENTdm repository URL</td><td>{{ cdm_repo_url }}</td></tr>
                    <tr><td>CONTENTdm collection alias</td><td>{{ cdm_collection_alias }}</td></tr>
                </tbody>
            </table>

            <h2>CONTENTdm field info</h2>

            <table class="field-table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>nick</th>
                        <th>type</th>
                        <th>size</th>
                        <th>req</th>
                        <th>search</th>
                        <th>hide</th>
                        <th>vocdb</th>
                        <th>vocab</th>
                        <th>dc</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_fields_info if field_info['admin'] == 0 %}
                        <tr>
                            <td><span class="cdm-label">{{ field_info['name'] }}</span></td>
                            <td><span class="cdm-nick">{{ field_info['nick'] }}</span></td>
                            <td>{{ field_info['type'] }}</td>
                            <td>{{ field_info['size'] }}</td>
                            <td>{{ field_info['req'] }}</td>
                            <td>{{ field_info['search'] }}</td>
                            <td>{{ field_info['hide'] }}</td>
                            <td>{{ field_info['vocdb'] }}</td>
                            <td>{{ field_info['vocab'] }}</td>
                            <td>{{ field_info['dc'] }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>FromThePage to CONTENTdm field mapping</h2>

            <table class="field-table">
                <thead>
                    <tr>
                        <th>FromThePage label</th>
                        <th>CONTENTdm field</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for label, nicks in field_mapping.items() %}
                        <tr>
                            <td><span class="ftp-label">{{ label }}</span></td>
                            <td>{% for nick in nicks %} {{ cdmnickandname(nick) }}<br/> {% endfor %}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Vocabularies</h2>

            <table class="field-table">
                <thead>
                    <tr>
                        <th>CONTENTdm field</th>
                        <th>Vocab nick</th>
                        <th>Db name</th>
                        <th>Term count</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for nick, index in vocabs_index.items() %}
                        <tr>
                            <td>{{ cdmnickandname(nick) }}</td>
                            <td>{%- if index['type'] == 'vocab' %}{{ index['name'] }}{%- endif %}</td>
                            <td>{%- if index['type'] == 'vocdb' %}{{ index['name'] }}{%- endif %}</td>
                            <td>{{ vocabs[index['type']][index['name']]|length }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Uncontrolled terms</h2>

            {%- for nick in vocabs_index.keys() if nick in field_scans %}
                <h3 class="sticky-title">Mapped to CONTENTdm field {{ cdmnickandname(nick) }}</h3>
                <table>
                    <tbody>
                        <tr><td>CONTENTdm field name</td><td><span class="cdm-label">{{ cdm_nick_to_name[nick] }}</span></td></tr>
                        <tr><td>CONTENTdm field nick</td><td><span class="cdm-nick">{{ nick }}</span></td></tr>
                        <tr>
                            <td>Taking terms from FromThePage labels</td>
                            <td>
                                {%- for label, nicks in field_mapping.items() if nick in nicks %}
                                    <span class="ftp-label">{{ label }}</span><br/>
                                {%- endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                {%- if not field_scans[nick] %}
                    <p><em>All terms controlled.</em></p>
                {%- else %}
                    <div class="terms-as-text">
                        <label for="{{ nick }}">Uncontrolled terms as text:</label>
                        <textarea name="{{ nick }}" rows="10" cols="60" wrap="off">
                            {%- for term in field_scans[nick].keys() %}
{{ term }}
                            {%- endfor -%}
                        </textarea>
                    </div>
                    <dl>
                        {%- for term, pages in field_scans[nick].items() %}
                            <dt><span class="uncontrolled-term">{{ term }}</span></dt>
                            <dd>
                                <ul class="use-list">
                                    {%- for page in pages %}
                                        <li>is used in <a href="{{ page.display_url }}">{{ page.label }}</a> <a href="{{ page.transcription_url }}">✍</a></li>
                                    {%-  endfor %}
                                </ul>
                            </dd>
                        {%- endfor %}
                    </dl>
                {%- endif %}
            {%- endfor %}
        </div>
    </body>
</html>
