{%- macro showwhitespace(s) -%}
    {%- for c in s -%}
        {%- if c == "\n" -%}
            <span class="nonprinting">LF</span>
        {%- elif c == "\r" -%}
            <span class="nonprinting">CR</span>
        {%- elif c == "\t" -%}
            <span class="nonprinting">TAB</span>
        {%- else -%}
            {{ c }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
{%- macro cdmnickandname(nick) %}<span class="cdm-label">{{ cdm_nick_to_name[nick] }}</span> &lt;<span class="cdm-nick">{{ nick }}</span>&gt;{% endmacro -%}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>{% block headtitle %}{% endblock %}</title>
        <style type="text/css">
         body {
             margin-bottom: 3em;
         }
         h1, h2, h3, h4, h5, h6 {
             font-family: sans-serif;
         }
         .container {
             max-width: 70rem;
             margin: 0 auto 3em auto;
         }
         .cdm-label {
             font-weight: normal;
             background-color: #ffc9ff;
         }
         .cdm-nick {
             font-family: monospace;
         }
         .ftp-label {
             background-color: #EDB;
         }
         .controlled:before {
             content: "🔒 ";
         }
         .report-metadata-table th {
             text-align: left;
             padding-right: 0.5em;
         }
         .report-metadata-table td {
             text-align: left;
         }
         .field-info-table {
             border-collapse: collapse;
         }
         .field-info-table th {
             text-align: left;
             padding: 0.5em;
         }
         .field-info-table td {
             text-align: left;
             padding: 0.5em;
         }
         .field-info-table tbody tr:nth-child(odd) {
             background-color: gainsboro;
         }
         .field-info-table tbody tr:nth-child(even) {
             background-color: white;
         }
         .sticky-title {
             background-color: white;
             padding: 1em 0 0.5em 0;
             margin: 0.5em 0 0 0;
             position: sticky;
             top: 0;
             left: 0;
         }
         .nonprinting {
             font-family: monospace;
             border-radius: 4px;
             margin: 0.2em;
             font-size: 0.8em;
             color: white;
             background-color: black;
         }
         .literal {
             font-family: monospace;
         }
         {% block style %}{% endblock %}
        </style>
    </head>

    <body>
        <div class="container">
            <h1>{% block doctitle %}{% endblock %}</h1>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
