{% extends 'base.html.j2' %}
{% block headtitle  %}{{ catcher_json_file_path.name }} catcherdiff report{% endblock %}
{% block style %}
         .delta-table {
             width: 100%;
             table-layout: fixed;
             border-collapse: collapse;
         }
         .delta-table th {
             text-align: left;
             padding: 0.4em;
         }
         .delta-table td {
             text-align: left;
             padding: 0.4em;
             vertical-align: text-top;
             border: thin solid;
         }
         .controlled-col {
             width: 5%
         }
         .value-col {
             width: 40%;
         }
         .change-col {
             width: 5%;
         }
         .nick-col {
             width: 10%;
         }
         .change {
             font-family: sans-serif;
             font-size: 0.8em;
             font-weight: bold;
         }
         .value {
             background-color: gainsboro;
             font-family: monospace;
             word-break: break-all;
         }
         .equal-values {
         }
         .equal-blanks {
         }
         .overwrite-blank-with-value {
             background-color: lime;
         }
         .overwrite-value-with-value {
             background-color: orange;
         }
         .overwrite-value-with-blank {
             background-color: crimson;
         }
         .terms-list {
             list-style-type: none;
         }
         .controlled-term:before {
             content: "☑ ";
             color: lime;
         }
         .uncontrolled-term:before {
             content: "☒ ";
             color: red;
         }
         .metadata-table {
             text-align: left;
             vertical-align: top;
         }
         .metadata-table th {
             padding-right: 1em;
         }
{% endblock %}
{% block doctitle %}<span class="literal">{{ catcher_json_file_path.name }}</span> catcherdiff report{% endblock %}
{% block content %}
            <table class="report-metadata-table">
                <tbody>
                    <tr><th>Report datetime</th><td>{{ report_datetime }}</td></tr>
                    <tr><th>CONTENTdm repository URL</th><td>{{ cdm_repo_url }}</td></tr>
                    <tr><th>CONTENTdm collection alias</th><td>{{ cdm_collection_alias }}</td></tr>
                    <tr><th>cdm-catcher file path</th><td><span class="literal">{{ catcher_json_file_path }}</span></td></tr>
                </tbody>
            </table>

            <p>catcherdiff found {{ edits_with_changes_count }} out of {{ deltas|length }} total edit actions would change at least one field.</p>

            <h2>Field info</h2>

            <table class="field-info-table">
                <thead>
                    <tr>
                        <th>Field name</th>
                        <th>Field nick</th>
                        <th>Data type</th>
                        <th>Large</th>
                        <th>Search</th>
                        <th>Hide</th>
                        <th>Required</th>
                        <th>Vocab</th>
                        <th>Vocab DB</th>
                        <th>DC mapping</th>
                        <th>Admin</th>
                        <th>Readonly</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_field_infos %}
                        <tr>
                            <td>{{ field_info.name }}</td>
                            <td class="literal">{{ field_info.nick }}</td>
                            <td class="literal">{{ field_info.type }}</td>
                            <td>{{ "Yes" if field_info.size else "No" }}</td>
                            <td>{{ "Yes" if field_info.search else "No"  }}</td>
                            <td>{{ "Yes" if field_info.hide else "No" }}</td>
                            <td>{{ "Yes" if field_info.req else "No" }}</td>
                            <td>{{ "Yes" if field_info.vocab else "No" }}</td>
                            <td class="literal">{{ field_info.vocdb }}</td>
                            <td>{{ field_info.dc if field_info.dc else "" }}</td>
                            <td>{{ "Yes" if field_info.admin else "No" }}</td>
                            <td>{{ "Yes" if field_info.readonly else "No" }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Edit actions</h2>

            {% for edit, cdm_info in deltas %}
                <h3>dmrecord {{ edit['dmrecord'] }}</h3>
                <table class="metadata-table">
                    <tr>
                        <th>URL</th>
                        <td><a href="{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}">{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}</a></td>
                    </tr>
                    {% if title_nick is not none -%}
                        <tr>
                            <th>dc:Title</th>
                            <td>&quot;{{ cdm_info[title_nick] }}&quot;</td>
                        </tr>
                    {%- endif %}
                    {% if identifier_nick is not none -%}
                        <tr>
                            <th>dc:Identifier</th>
                            <td class="literal">{{ cdm_info[identifier_nick] }}</td>
                        </tr>
                    {%- endif %}
                </table>
                <table class="delta-table">
                    <thead>
                        <tr>
                            <th class="controlled-col">🔒?</th>
                            <th class="nick-col">Field</th>
                            <th class="value-col">Current value</th>
                            <th class="change-col">Change</th>
                            <th class="value-col">Edit value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nick, value in edit.items() if nick != 'dmrecord' %}
                            <tr>
                                <td class="controlled-col">{% if nick in vocabs_by_nick %}<span title="This field has a controlled vocabulary">🔒</span>{% endif %}</td>
                                <td class="nick-col"><span class="cdm-label">{{ cdm_nick_to_name[nick] }}</span><br/><span class="cdm-nick">{{ nick }}</span></td>
                                <td class="value-col"><span class="value">{{ showwhitespace(cdm_info[nick]) }}</span></td>
                                {%- if not cdm_info[nick] and not value %}
                                    <td class="change-col change equal-blanks">None</td>
                                {%- elif cdm_info[nick] and not value %}
                                    <td class="change-col change overwrite-value-with-blank">Delete</td>
                                {%- elif not cdm_info[nick] and value %}
                                    <td class="change-col change overwrite-blank-with-value">New</td>
                                {%- elif cdm_info[nick] == value %}
                                    <td class="change-col change equal-values">None</td>
                                {%- else %}
                                    <td class="change-col change overwrite-value-with-value">Replace</td>
                                {%- endif %}
                                <td class="value-col">
                                    <span class="value">{{ showwhitespace(value) }}</span>
                                    {%- if nick in vocabs_by_nick and vocabs_by_nick[nick] is not none %}
                                        <ul class="terms-list">
                                            {%- for term in value.split('; ') if term %}
                                                {%- if term in vocabs_by_nick[nick] %}
                                                    <li class="controlled-term"><span class="value">{{ term }}</span></li>
                                                {%- else %}
                                                    <li class="uncontrolled-term"><span class="value">{{ term }}</span></li>
                                                {%- endif %}
                                            {% endfor %}
                                        </ul>
                                    {%- endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
{% endblock %}
