{% extends 'base.html.j2' %}
{% block headtitle  %}{{ catcher_json_file }} catcherdiff report{% endblock %}
{% block style %}
         table {
             width: 100%
             table-layout: fixed;
         }
         th, td {
             text-align: left;
         }
         th {
             padding: 0.5em;
         }
         td {
             padding: 0 0.5em 0 0.5em;
             vertical-align: text-top;
         }
         tr {
             outline: thin solid;
         }
         .value-col {
             width: 42.5%;
         }
         .change-col {
             width: 5%;
         }
         .nick-col {
             width: 10%;
         }

         .has-vocab:before {
             content: "🔒 "
         }
         .value {
             background-color: aliceblue;
             font-family: monospace;
             white-space: pre-wrap;
         }
         .filename {
             font-family: monospace;
         }

         .equal-values {
         }
         .equal-blanks {
         }
         .overwrite-blank-with-value {
             background-color: lime;
         }
         .overwrite-value-with-value {
             background-color: orange;
         }
         .overwrite-value-with-blank {
             background-color: red;
         }
         .terms-list {
             list-style-type: none;
         }
         .controlled-term:before {
             content: "☑ ";
             color: lime;
         }
         .uncontrolled-term:before {
             content: "☒ ";
             color: red;
         }
{% endblock %}
{% block doctitle %}<span class="filename">{{ catcher_json_file }}</span> catcherdiff report{% endblock %}
{% block content %}
            <table>
                <tbody>
                    <tr><td>Report datetime</td><td>{{ report_datetime }}</td></tr>
                    <tr><td>CONTENTdm repository URL</td><td>{{ cdm_repo_url }}</td></tr>
                    <tr><td>CONTENTdm collection alias</td><td>{{ cdm_collection_alias }}</td></tr>
                    <tr><td>cdm-catcher file name:</td><td><span class="filename">{{ catcher_json_file }}</span></td></tr>
                </tbody>
            </table>

            <p>catcherdiff found {{ edits_with_changes_count }} out of {{ deltas|length }} total edit actions would change at least one field.</p>

            <h2>Field info</h2>

            <table>
                <thead>
                    <tr>
                        {%- for key in cdm_fields_info[0].keys() %}
                            <th>{{ key }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_fields_info if field_info['admin'] == 0 %}
                        <tr>
                            {%- for value in field_info.values() %}
                                <td>{{ value }}</td>
                            {%- endfor %}
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Edit actions</h2>

            {% for edit, cdm_info in deltas %}
                <h3>dmrecord {{ edit['dmrecord'] }}</h3>
                <p><a href="{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}">{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}</a></p>
                <table>
                    <thead>
                        <tr>
                            <th class="nick-col">Field nick</th>
                            <th class="value-col">Current value</th>
                            <th class="change-col">Change</th>
                            <th class="value-col">Edit value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nick, value in edit.items() if nick != 'dmrecord' %}
                            <tr>
                                <td class="nick-col">
                                    {%- if nick in vocabs_index %}
                                        <pre class="has-vocab">{{ nick }}</pre>
                                    {%- else %}
                                        <pre>{{ nick }}</pre>
                                    {%- endif %}
                                </td>
                                <td class="value-col"><p><span class="value">{{ showwhitespace(cdm_info[nick]) }}</span></p></td>
                                <td class="change-col">
                                    {%- if not cdm_info[nick] and not value %}
                                        <span class="equal-blanks">none</span>
                                    {%- elif cdm_info[nick] and not value %}
                                        <span class="overwrite-value-with-blank">delete</span>
                                    {%- elif not cdm_info[nick] and value %}
                                        <span class="overwrite-blank-with-value">new</span>
                                    {%- elif cdm_info[nick] == value %}
                                        <span class="equal-values">none</span>
                                    {%- else %}
                                        <span class="overwrite-value-with-value">replace</span>
                                    {%- endif %}
                                </td>
                                <td class="value-col">
                                    <p><span class="value">{{ showwhitespace(value) }}</span></p>
                                    {%- if nick in vocabs_index and vocabs is not none %}
                                        <ul class="terms-list">
                                            {%- for term in value.split('; ') if term %}
                                                {%- if term in vocabs[vocabs_index[nick]['type']][vocabs_index[nick]['name']] %}
                                                    <li class="controlled-term"><span class="value">{{ term }}</span></li>
                                                {%- else %}
                                                    <li class="uncontrolled-term"><span class="value">{{ term }}</span></li>
                                                {%- endif %}
                                            {% endfor %}
                                        </ul>
                                    {%- endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
{% endblock %}
