{% extends 'base.html.j2' %}
{% block headtitle  %}{{ catcher_json_file }} catcherdiff report{% endblock %}
{% block style %}
         .delta-table {
             width: 100%
             table-layout: fixed;
         }
         .delta-table th {
             text-align: left;
             padding: 0.5em;
         }
         .delta-table td {
             text-align: left;
             padding: 0 0.5em 0 0.5em;
             vertical-align: text-top;
         }
         .delta-table tr {
             outline: thin solid;
         }
         .controlled-col {
             width: 5%
         }
         .value-col {
             width: 40%;
         }
         .change-col {
             width: 5%;
         }
         .nick-col {
             width: 10%;
         }
         .value {
             background-color: aliceblue;
             font-family: monospace;
             white-space: pre-wrap;
         }
         .filename {
             font-family: monospace;
         }
         .equal-values {
         }
         .equal-blanks {
         }
         .overwrite-blank-with-value {
             background-color: lime;
         }
         .overwrite-value-with-value {
             background-color: orange;
         }
         .overwrite-value-with-blank {
             background-color: red;
         }
         .terms-list {
             list-style-type: none;
         }
         .controlled-term:before {
             content: "☑ ";
             color: lime;
         }
         .uncontrolled-term:before {
             content: "☒ ";
             color: red;
         }
         .dc-identifier {
             font-family: monospace;
         }
         .metadata-table {
             text-align: left;
             vertical-align: top;p
         }
{% endblock %}
{% block doctitle %}<span class="filename">{{ catcher_json_file }}</span> catcherdiff report{% endblock %}
{% block content %}
            <table class="report-metadata-table">
                <tbody>
                    <tr><td>Report datetime</td><td>{{ report_datetime }}</td></tr>
                    <tr><td>CONTENTdm repository URL</td><td>{{ cdm_repo_url }}</td></tr>
                    <tr><td>CONTENTdm collection alias</td><td>{{ cdm_collection_alias }}</td></tr>
                    <tr><td>cdm-catcher file name</td><td><span class="filename">{{ catcher_json_file }}</span></td></tr>
                </tbody>
            </table>

            <p>catcherdiff found {{ edits_with_changes_count }} out of {{ deltas|length }} total edit actions would change at least one field.</p>

            <h2>Field info</h2>

            <table class="field-info-table">
                <thead>
                    <tr>
                        {%- for key in cdm_field_infos[0]._fields %}
                            <th>{{ key }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_field_infos if field_info.admin == 0 %}
                        <tr>
                            {%- for value in field_info %}
                                <td>{{ value }}</td>
                            {%- endfor %}
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Edit actions</h2>

            {% for edit, cdm_info in deltas %}
                <h3>dmrecord {{ edit['dmrecord'] }}</h3>
                <table class="metadata-table">
                    <tr>
                        <th>URL</th>
                        <td><a href="{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}">{{ cdm_repo_url }}/digital/collection/{{ cdm_collection_alias }}/id/{{ edit['dmrecord'] }}</a></td>
                    </tr>
                    {% if title_nick is not none -%}
                        <tr>
                            <th>dc:title</th>
                            <td>{{ cdm_info[title_nick] }}</td>
                        </tr>
                    {%- endif %}
                    {% if identifier_nick is not none -%}
                        <tr>
                            <th>dc:identifier</th>
                            <td class="dc-identifier">{{ cdm_info[identifier_nick] }}</td>
                        </tr>
                    {%- endif %}
                </table>
                <table class="delta-table">
                    <thead>
                        <tr>
                            <th class="controlled-col">🔒?</th>
                            <th class="nick-col">Field</th>
                            <th class="value-col">Current value</th>
                            <th class="change-col">Change</th>
                            <th class="value-col">Edit value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nick, value in edit.items() if nick != 'dmrecord' %}
                            <tr>
                                <td class="controlled-col">{% if nick in vocabs_by_nick %}<span title="This field has a controlled vocabulary">🔒</span>{% endif %}</td>
                                <td class="nick-col"><p><span class="cdm-label">{{ cdm_nick_to_name[nick] }}</span><br/>&lt;<span class="cdm-nick">{{ nick }}</span>&gt;</p></td>
                                <td class="value-col"><p><span class="value">{{ showwhitespace(cdm_info[nick]) }}</span></p></td>
                                <td class="change-col">
                                    {%- if not cdm_info[nick] and not value %}
                                        <span class="equal-blanks">none</span>
                                    {%- elif cdm_info[nick] and not value %}
                                        <span class="overwrite-value-with-blank">delete</span>
                                    {%- elif not cdm_info[nick] and value %}
                                        <span class="overwrite-blank-with-value">new</span>
                                    {%- elif cdm_info[nick] == value %}
                                        <span class="equal-values">none</span>
                                    {%- else %}
                                        <span class="overwrite-value-with-value">replace</span>
                                    {%- endif %}
                                </td>
                                <td class="value-col">
                                    <p><span class="value">{{ showwhitespace(value) }}</span></p>
                                    {%- if nick in vocabs_by_nick and vocabs_by_nick[nick] is not none %}
                                        <ul class="terms-list">
                                            {%- for term in value.split('; ') if term %}
                                                {%- if term in vocabs_by_nick[nick] %}
                                                    <li class="controlled-term"><span class="value">{{ term }}</span></li>
                                                {%- else %}
                                                    <li class="uncontrolled-term"><span class="value">{{ term }}</span></li>
                                                {%- endif %}
                                            {% endfor %}
                                        </ul>
                                    {%- endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
{% endblock %}
