{% extends 'base.html.j2' %}
{% block headtitle %}{{ collection_label }} scanftpvocabs report{% endblock %}
{% block style %}
         label {
             display: block;
         }
         .field-table tr {
             outline: thin solid;
         }
         .uncontrolled-term {
             background-color: aliceblue;
             font-family: monospace;
         }
         .use-list {
             list-style-type: none;
         }
         .terms-as-text {
             margin: 1em 0;
         }
{% endblock %}
{% block doctitle %}FromThePage vocab scan report for project {{ ftp_project_name }}{% endblock %}
{% block content %}
            <table class="report-metadata-table">
                <tbody>
                    <tr><td>Report datetime</td><td>{{ report_datetime }}</td></tr>
                    <tr><td>FromThePage user slug</td><td>{{ ftp_slug }}</td></tr>
                    <tr><td>FromThePage project name</td><td>{{ ftp_project_name }}</td></tr>
                    <tr><td>CONTENTdm repository URL</td><td>{{ cdm_instance_url }}</td></tr>
                    <tr><td>CONTENTdm collection alias</td><td>{{ cdm_collection_alias }}</td></tr>
                </tbody>
            </table>

            <h2>CONTENTdm field info</h2>

            <table class="field-info-table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>nick</th>
                        <th>type</th>
                        <th>size</th>
                        <th>req</th>
                        <th>search</th>
                        <th>hide</th>
                        <th>vocdb</th>
                        <th>vocab</th>
                        <th>dc</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in cdm_field_infos if field_info.admin == 0 %}
                        <tr>
                            <td><span class="cdm-label">{{ field_info.name }}</span></td>
                            <td><span class="cdm-nick">{{ field_info.nick }}</span></td>
                            <td>{{ field_info.type }}</td>
                            <td>{{ field_info.size }}</td>
                            <td>{{ field_info.req }}</td>
                            <td>{{ field_info.search }}</td>
                            <td>{{ field_info.hide }}</td>
                            <td>{{ field_info.vocdb }}</td>
                            <td>{{ field_info.vocab }}</td>
                            <td>{{ field_info.dc }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>FromThePage to CONTENTdm field mapping</h2>

            <h3>Mapped controlled CONTENTdm fields</h3>

            <table class="field-info-table">
                <thead>
                    <tr>
                        <th>FromThePage label</th>
                        <th>CONTENTdm field</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for label, nicks in cdm_field_mapping.items() %}
                        <tr>
                            <td><span class="ftp-label">{{ label }}</span></td>
                            <td>{% for nick in nicks %} {{ cdmnickandname(nick) }}<br/> {% endfor %}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h3>Unmapped controlled CONTENTdm fields</h3>

            <ul>
                {%- for field_info in unmapped_controlled_cdm_field_infos %}
                    <li>{{ cdmnickandname(field_info.nick) }}</li>
                {%- endfor %}
            </ul>

            <h2>Vocabularies</h2>

            <table class="field-info-table">
                <thead>
                    <tr>
                        <th>CONTENTdm field</th>
                        <th>Vocab nick</th>
                        <th>Db name</th>
                        <th>Term count</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for field_info in controlled_cdm_field_infos %}
                        <tr>
                            <td>{{ cdmnickandname(field_info.nick) }}</td>
                            <td>{% if not field_info.vocdb %}{{ field_info.nick }}{% endif %}</td>
                            <td>{% if field_info.vocdb %}{{ field_info.vocdb }}{% endif %}</td>
                            <td>{{ cdm_vocabs[field_info.get_vocab_info()]|length }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            <h2>Uncontrolled terms</h2>

            {%- for field_info in mapped_controlled_cdm_field_infos %}
                <h3 class="sticky-title">Mapped to CONTENTdm field {{ cdmnickandname(field_info.nick) }}</h3>
                <table>
                    <tbody>
                        <tr><td>CONTENTdm field name</td><td><span class="cdm-label">{{ field_info.name }}</span></td></tr>
                        <tr><td>CONTENTdm field nick</td><td><span class="cdm-nick">{{ field_info.nick }}</span></td></tr>
                        <tr>
                            <td>Taking terms from FromThePage labels</td>
                            <td>
                                {%- for label, nicks in cdm_field_mapping.items() if field_info.nick in nicks %}
                                    <span class="ftp-label">{{ label }}</span><br/>
                                {%- endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                {%- if not uncontrolled_terms_by_field_nick[nick] %}
                    <p><em>All terms controlled.</em></p>
                {%- else %}
                    <div class="terms-as-text">
                        <label for="{{ field_info.nick }}">Uncontrolled terms as text:</label>
                        <textarea name="{{ field_info.nick }}" rows="10" cols="60" wrap="off">
                            {%- for term in uncontrolled_terms_by_field_nick[nick] %}
{{ term }}
                            {%- endfor -%}
                        </textarea>
                    </div>
                    <dl>
                        {%- for term, ftp_pages in uncontrolled_terms_by_field_nick[nick].items() %}
                            <dt><span class="uncontrolled-term">{{ term }}</span></dt>
                            <dd>
                                <ul class="use-list">
                                    {%- for ftp_page in ftp_pages %}
                                        <li>is used in <a href="{{ page.read_url }}">{{ page.label }}</a> <a href="{{ page.transcribe_url }}">✍</a></li>
                                    {%-  endfor %}
                                </ul>
                            </dd>
                        {%- endfor %}
                    </dl>
                {%- endif %}
            {%- endfor %}
{% endblock %}
