{% extends 'base.html.j2' %}
{% block headtitle %}{{ project_label }} scanftpfields report{% endblock %}
{% block style %}
    .project-metadata th {
    text-align: left;
    }
    .literal {
    font-family: monospace;
    }
    .page-config td, .work-config td {
    border-top: dashed thin;
    }
    .page-config th, .work-config th {
    text-align: left;
    }
    .fields-list {
    list-style-type: none;
    }
    .included, .unincluded {
    font-weight: bolder;
    }
    .included {
    background-color: lightgreen;
    }
    .unincluded {
    background-color: lightcoral;
    }
{% endblock %}
{% block doctitle %}FromThePage field scan report for project {{ project_label }}{% endblock %}
{% block content %}
    <table class="project-metadata">
        <tbody>
            <tr><th>Report datetime</th><td>{{ report_datetime }}</td></tr>
            <tr><th>FromThePage user slug</th><td>{{ slug }}</td></tr>
            <tr><th>FromThePage project label</th><td>{{ project_label }}</td></tr>
            <tr><th>FromThePage project manifest</th><td><a href="{{ project_manifest_url }}">{{ project_manifest_url }}</a></td></tr>
        </tbody>
    </table>

    <h2>Work-level Metadata Description configuration</h2>
    {% if work_config.fields %}
        <table class="work-config">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Input Type</th>
                    <th>Config URL</th>
                    <th>Occurences</th>
                </tr>
            </thead>
            <tbody>
                {% for field in work_config.fields %}
                    <tr>
                        <td><span class="literal ftp-label">{{ field.label }}</span></td>
                        <td>{{ field.input_type }}</td>
                        <td><a href="{{ field.url }}">{{ field.url }}</a></td>
                        <td>{{ work_field_counts_by_config_id[field.url] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>None.</p>
    {% endif %}

    <h2>Page-level field transcription configuration</h2>
    {% if page_config.fields %}
        <table class="page-config">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Input Type</th>
                    <th>Config URL</th>
                    <th>Occurences</th>
                </tr>
            </thead>
            <tbody>
                {% for field in page_config.fields %}
                    <tr>
                        <td><span class="literal ftp-label">{{ field.label }}</span></td>
                        <td>{{ field.input_type }}</td>
                        <td><a href="{{ field.url }}">{{ field.url }}</a></td>
                        <td>{{ page_field_counts_by_config_id[field.url] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>None.</p>
    {% endif %}

    <h2>Work-level Metadata Description field sets</h2>
    {% if works_by_field_set %}
        {% for field_set, works in works_by_field_set.items() %}
            <div class="field-set">
                <h3>{{ works|length }} works</h3>
                <ol class="fields-list">
                    {% for url, label in work_field_labels_by_config_id.items() %}
                        <li>
                            {% if url in field_set %}
                                <span class="included">+</span>
                            {% else %}
                                <span class="unincluded">−</span>
                            {% endif %}
                            <span class="literal ftp-label">{{ label }}</span>
                        </li>
                    {% endfor %}
                </ol>
                <ul>
                    {% for work in works %}
                        <li><a href="{{ work.read_url }}">{{ work.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>None.</p>
    {% endif %}

    <h2>Page-level field transcription field sets</h2>
    {% if pages_by_field_set %}
        {% for field_set, pages in pages_by_field_set.items() %}
            <div class="field-set">
                <h3>{{ pages|length }} pages</h3>
                <ol class="fields-list">
                    {% for url, label in page_field_labels_by_config_id.items() if url in field_set %}
                        <li>
                            {% if url in field_set %}
                                <span class="included">+</span>
                            {% else %}
                                <span class="unincluded">−</span>
                            {% endif %}
                            <span class="literal ftp-label">{{ label }}</span>
                        </li>
                    {% endfor %}
                </ol>
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.transcribe_url }}">{{ page.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>None.</p>
    {% endif %}
{% endblock %}
