interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collections/ohiouniversitylibraries
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collections/ohiouniversitylibraries\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"IIIF resources avaliable on
        the FromThePage installation at fromthepage.com for Ohio University Libraries.\",\n
        \ \"collections\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/ohio-university-board-of-trustees-minutes\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Board of Trustees
        minutes, Ohio University\"\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/cornelius-ryan-collection-of-world-war-ii-papers\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Cornelius Ryan Collection
        of World War II Papers\"\n    },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collection/dance-posters-metadata
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collection/dance-posters-metadata\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"Dance Posters Metadata\",\n
        \ \"manifests\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/56198/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"\\\"Nothing else like
        it in the world\\\" Nikolais Dance Theatre poster\",\n      \"metadata\":
        [\n        {\n          \"label\": \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll16/237/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://www.fromthepage.org/jsonld/1/context.json\",\n
        \       \"@id\": \"https://fromthepage.com/iiif/56198/status\",\n        \"label\":
        \"Work Status\",\n        \"profile\": \"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service\",\n
        \       \"pctComplete\": 100.0,\n        \"pctTranscribed\": 100.0,\n        \"pctOcrCorrected\":
        0.0,\n        \"pctIndexed\": 0,\n        \"pctMarkedBlank\": 0,\n        \"pctNeedsReview\":
        0,\n        \"pctTranslationComplete\": 0,\n        \"pctTranslated\": 0,\n
        \       \"pctTranslationNeedsReview\": 0,\n        \"pctTranslationIndexed\":
        0,\n        \"pctTranslationMarkedBlank\": 0,\n        \"metadataStatus\":
        \"undescribed\"\n      }\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/56195/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Brooklyn Academy of
        Music, Murray Louis and Alwin Nikolais Dance\",\n      \"metadata\": [\n        {\n
        \         \"label\": \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll16/236/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/56198/manifest
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/56198/manifest\",\n  \"@type\":
        \"sc:Manifest\",\n  \"label\": \"\\\"Nothing else like it in the world\\\"
        Nikolais Dance Theatre poster\",\n  \"metadata\": [\n    {\n      \"label\":
        \"dc:source\",\n      \"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/dance-posters-metadata/structured/config/page
  response:
    body:
      string: "{\"@id\":\"https://fromthepage.com/iiif/1073/structured/config/page\",\"label\":\"Transcription
        field configuration for Dance Posters Metadata\",\"config\":[{\"label\":\"Title\",\"input_type\":\"textarea\",\"position\":1,\"line\":1,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2593\"},{\"label\":\"Title
        format: (name of performance if known or name of hosting organization) poster,
        (venue or location (city, state or country)), (name of dance company only
        if name of perf. or hosting org. is not known) poster, (performance date range),
        (year)\",\"input_type\":\"description\",\"position\":2,\"line\":1,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2594\"},{\"label\":\"Creator
        (artist)\",\"input_type\":\"select\",\"position\":3,\"line\":2,\"profile\":\"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response\",\"@id\":\"https://fromthepage.com/iiif/structured/config/field/2595\",\"options\":[\"\",\"Achepohl,
        Keith\",\"Benoit\",\"Brooks, Bob\",\"Constant, George\",\"Delorme, Chr.\",\"Francis,
        Jon\",\"Graphisme Helianthe Paris\",\"Helianthe\",\"l'atelier d'impression\",\"Lacoutte,
        Jean Louis\",\"Lieberman\",\"Lieberman, Jerry\",\"Louis, Murray\",\"M+B Schell\",\"Margotton,
        Alain\",\"Milano, Donati\",\"Nikolais, Alwin\",\"Pointeau\",\"Thomas, Dick\",\"Warner-Lasser
        Associates\"]},{\"label\":\"Creator (artist) if other\",\"input_type\":\"text\",\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/56198/structured/1808940
  response:
    body:
      string: '{"contributors":[{"userName":"wilsone5"},{"userName":"Sandy_G"}],"data":[{"label":"Title","value":"Nothing
        else like it in the world poster, Nikolais Dance Theatre","config":"https://fromthepage.com/iiif/structured/config/field/2593"},{"label":"Title
        format: (name of performance if known or name of hosting organization) poster,
        (venue or location (city, state or country)), (name of dance company only
        if name of perf. or hosting org. is not known) poster, (performance date range),
        (year)","value":"","config":"https://fromthepag[...]
