interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collections/ohiouniversitylibraries
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collections/ohiouniversitylibraries\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"IIIF resources avaliable on
        the FromThePage installation at fromthepage.com for Ohio University Libraries.\",\n
        \ \"collections\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/ohio-university-board-of-trustees-minutes\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Board of Trustees
        minutes, Ohio University\"\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/collection/cornelius-ryan-collection-of-world-war-ii-papers\",\n
        \     \"@type\": \"sc:Collection\",\n      \"label\": \"Cornelius Ryan Collection
        of World War II Papers\"\n    },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564/structured/config/work
  response:
    body:
      string: '{"@id":"https://fromthepage.com/iiif/32000240/structured/config/work","label":"Metadata
        field configuration for Farfel Leaves Metadata","config":[{"label":"Document
        genre(s) - Search online for the leaf author and source title to determine
        the work''s genre","input_type":"multiselect","position":2,"line":1,"profile":"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-field-configuration-response","@id":"https://fromthepage.com/iiif/structured/config/field/4544","options":["Allegories
        (literary works)","Anthologies","Antiphonaries","Atlases","Bibles","Biographies
        (literary works)","Books of hours","Books of speeches","Botanical literature","Breviaries","Calendars
        (documents)","Charters","Choirbooks","Chronicles","Collected works","Comedies
        (literary works)","Commentaries","Compendiums","Devotional literature","Dialogues","Dictionaries","Digests
        (legal documents)","Drama (literary genre)","Elegies","Emblem books","Encycloped[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564/structured/config/page
  response:
    body:
      string: '{"@id":"https://fromthepage.com/iiif/32000240/structured/config/page","label":"Transcription
        field configuration for Farfel Leaves Metadata","config":[],"profile":"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-configuration-response"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7277fa3d5dfab016b77c1838e6d1c84d"
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.7.3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/collection/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/collection/farfel-leaves-metadata-a10a2751-a85e-4dbd-84c6-eb559ef9d564\",\n
        \ \"@type\": \"sc:Collection\",\n  \"label\": \"Farfel Leaves Metadata\",\n
        \ \"manifests\": [\n    {\n      \"@id\": \"https://fromthepage.com/iiif/32024760/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Farfel leaf 027: Vocabularius
        praedicantium, France, 1486\",\n      \"metadata\": [\n        {\n          \"label\":
        \"dc:source\",\n          \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll19/3001/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://www.fromthepage.org/jsonld/1/context.json\",\n
        \       \"@id\": \"https://fromthepage.com/iiif/32024760/status\",\n        \"label\":
        \"Work Status\",\n        \"profile\": \"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service\",\n
        \       \"pctComplete\": 0,\n        \"pctTranscribed\": 0,\n        \"pctOcrCorrected\":
        0.0,\n        \"pctIndexed\": 0,\n        \"pctMarkedBlank\": 0,\n        \"pctNeedsReview\":
        0,\n        \"pctTranslationComplete\": 0,\n        \"pctTranslated\": 0,\n
        \       \"pctTranslationNeedsReview\": 0,\n        \"pctTranslationIndexed\":
        0,\n        \"pctTranslationMarkedBlank\": 0,\n        \"metadataStatus\":
        \"described\"\n      }\n    },\n    {\n      \"@id\": \"https://fromthepage.com/iiif/32024761/manifest\",\n
        \     \"@type\": \"sc:Manifest\",\n      \"label\": \"Farfel leaf 031: Comodiae,
        France, 1493\",\n      \"metadata\": [\n        {\n          \"label\": \"dc:source\",\n
        \         \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll19/3012/manifest.json\"\n
        \       }\n      ],\n      \"service\": {\n        \"@context\": \"http://ww[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/32024760/structured
  response:
    body:
      string: '{"contributors":[{"userName":"ad387619","realName":"Greta DeLapp"}],"data":[{"label":"Language(s)
        - Use Google Translate to identify the language of the leaf text: https://translate.google.com/","value":["German","Latin"],"config":"https://fromthepage.com/iiif/structured/config/field/4545"},{"label":"Document
        genre(s) - Search online for the leaf author and source title to determine
        the work''s genre","value":["Incunabula"],"config":"https://fromthepage.com/iiif/structured/config/field/4544"}],"config":"https://fromthepage.com/iiif/32000240/structured/config/work","profile":"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-endpoint-response","on":{"@type":"sc:Manifest","@id":"https://fromthepage.com/iiif/32024760/manifest"},"@id":"https://fromthepage.com/iiif/32024760/structured","label":"Structured
        data (user-created metadata) for manifest","workStatus":{"@context":"http://www.fromthepage.org/jsonld/1/context.json","@id":"https://fromthepage.com/iiif/32024760/status","label":"Work
        Status","profile":"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service","pctComplete":0,"pctTranscribed":0,"pctOcrCorrected":0.0,"pctIndexed":0,"pctMarkedBlank":0,"pctNeedsReview":0,"pctTranslationComplete":0,"pctTranslated":0,"pctTranslationNeedsReview":0,"pctTranslationIndexed":0,"pctTranslationMarkedBlank":0,"metadataStatus":"described"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"10d75e66b5abb3795d9c5d0c54c98a58"
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.7.3
    status:
      code: 200
      message: OK
[...]
