interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/32024760/manifest
  response:
    body:
      string: "{\n  \"@context\": \"http://iiif.io/api/presentation/2/context.json\",\n
        \ \"@id\": \"https://fromthepage.com/iiif/32024760/manifest\",\n  \"@type\":
        \"sc:Manifest\",\n  \"label\": \"Farfel leaf 027: Vocabularius praedicantium,
        France, 1486\",\n  \"metadata\": [\n    {\n      \"label\": \"dc:source\",\n
        \     \"value\": \"https://cdm15808.contentdm.oclc.org/iiif/info/p15808coll19/3001/manifest.json\"\n
        \   },\n    {\n      \"label\": \"Century\",\n      \"value\": \"15th century\"\n
        \   },\n    {\n      \"label\": \"Collection contact\",\n      \"value\":
        \"Special Collections Librarian Miriam Intrator at https://www.ohio.edu/library/about/staff/intrator\"\n
        \   },\n    {\n      \"label\": \"Collection\",\n      \"value\": \"Manuscript
        and Printed Leaves\"\n    },\n    {[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fromthepage.com/iiif/32024760/structured
  response:
    body:
      string: '{"contributors":[{"userName":"ad387619","realName":"Greta DeLapp"}],"data":[{"label":"Language(s)
        - Use Google Translate to identify the language of the leaf text: https://translate.google.com/","value":["German","Latin"],"config":"https://fromthepage.com/iiif/structured/config/field/4545"},{"label":"Document
        genre(s) - Search online for the leaf author and source title to determine
        the work''s genre","value":["Incunabula"],"config":"https://fromthepage.com/iiif/structured/config/field/4544"}],"config":"https://fromthepage.com/iiif/32000240/structured/config/work","profile":"https://github.com/benwbrum/fromthepage/wiki/Structured-Data-API-for-Harvesting-Crowdsourced-Contributions#structured-data-endpoint-response","on":{"@type":"sc:Manifest","@id":"https://fromthepage.com/iiif/32024760/manifest"},"@id":"https://fromthepage.com/iiif/32024760/structured","label":"Structured
        data (user-created metadata) for manifest","workStatus":{"@context":"http://www.fromthepage.org/jsonld/1/context.json","@id":"https://fromthepage.com/iiif/32024760/status","label":"Work
        Status","profile":"https://github.com/benwbrum/fromthepage/wiki/FromThePage-Support-for-the-IIIF-Presentation-API-and-Web-Annotations#service","pctComplete":0,"pctTranscribed":0,"pctOcrCorrected":0.0,"pctIndexed":0,"pctMarkedBlank":0,"pctNeedsReview":0,"pctTranslationComplete":0,"pctTranslated":0,"pctTranslationNeedsReview":0,"pctTranslationIndexed":0,"pctTranslationMarkedBlank":0,"metadataStatus":"described"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"10d75e66b5abb3795d9c5d0c54c98a58"
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.7.3
    status:
      code: 200
      message: OK
version: 1
